@model IEnumerable<AlumniManagement.Frontend.Models.AlumniImageModel>

<div id="showImageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Gallery View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body text-center">

                <img id="modalImage" src="" alt="Image Preview" class="img-fluid" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="prevImage">Previous</button>
                <button type="button" class="btn btn-secondary" id="nextImage">Next</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>
        .carousel-item img {
            max-height: 500px;
            object-fit: contain;
        }
    </style>
}
